/* debug */
/* main {
    background-color: #0086ff;
} */

/* #div_header_primario {
    background-color: #e579e6;
} */

/* #div_header_secondario {
    background-color: #e1d67a;
} */

/* .sezione_intestazione {
    background-color: #abcfe7;
} */

/* .aside {
    background-color:#abcfe7 ;
}

.sezione_centrale {
    background-color:#abcfe7;
} */

/* .footer {
    background-color: #8801fe;
} */

/* /debug */

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* impostazioni reset */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* /impostazioni reset */


/* contenitore */
#container {
    width: 75%;
    margin: auto;
}

/* selettori generici */

body{
    font-family: 'Montserrat', sans-serif;
}

div {
    border-radius: 10px;
}

/* header */

header > #div_header_primario {
    height: 150px; 
}
header > #div_header_primario > #logo{
    height: 50%;
    padding-right: 25px;
    border-right: 1px solid lightgrey;
}

#lista_header ,
li ,
li > a {
    text-decoration: none;
    list-style: none;
    text-transform: uppercase;
    padding-right: 5px;
    margin-top: 12px;
    display: inline-block;
    font-size: 16px;
    color:#989898;
}

header > #div_header_secondario {
    margin-top: 25px;
    background-image: url(../img/banner.jpg);
    background-position: center;
    background-size:82% auto; 
}

#testo_banner{
    padding: 300px 0 75px 50px;
    width: 48%;
}

.intestazione_in_foto{
    font-size: 30px;
}

/* main,id e classi */

main {
    margin-top: 30px;
    padding:0px 0px 20px 0px;
    width: 100%;
}

main > section > .titolo_main {
    height: 100px;
    margin-bottom: 5px;  
}

main > aside > .aside {
    float: left;
    width: 20%;
}

.titolo_paragrafo{
    display: inline-block;
    padding: 20px 0 15px 0px;
}

.nero{
    color: black; 
}

.bianco{
    color:white;
}

.h1_intestazione {
    font-size: 32px;
    color: white;
}

.grigio {
    color:#989898;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
}

main > section > .sezione_centrale {
    float: left;
    margin: 0% 2%;
    
    
    width: 56%;
}

.sfondo_trasperente {
    height: 100%;
    width: 100%;
    /* border-bottom:5px solid #cccccc ; */
    background-color:rgba(0,0,0,0.2);
}

 .sezione_centrale > .immagine_centrale >.bordo_centrale {
     border-bottom:5px solid #cccccc ;
}

.immagine_aside_sinistra {
    background-image: url(../img/img-1.jpg);
    height: 220px;
    width: 100%;
    background-size: 100% 120%;
    background-position: center;
    margin: auto;
}

.immagine_centrale {
    height: 220px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80% 180%;
    margin: auto;
    
    background-image: url(../img/banner-2.jpg);
}

.immagine_aside_destra {
    background-image: url(../img/img-3.jpg);
    height: 220px;
    width: 100%;
    background-size: 110% 90%;
    background-position: center;
    margin: auto;
    background-repeat: no-repeat;
    
}

.rosso {
    color: red;
}

/* footer */
footer > .footer {
    padding: 20px 0 0 0 ;
    height: 80px;
    text-align: center;
}

